@import url('https://fonts.cdnfonts.com/css/eurostile');
@import url('navbar.css');
@import url('icon_whats.css');
@import url('div_superior.css');
@import url('services.css');
@import url('benefits.css');
@import url('company.css');
@import url('assessment.css');
@import url('contact.css');
@import url('footer.css');
@import url('carousel.css');
@import url('plans.css');
/* @import url("css/cards.css"); */

/* body */
body {
    font-family: Eurostile, sans-serif;    
    background-color: #00a6ff;
    font-size: calc(1em + 1vw);
    max-width: 100vw;  
    overflow-x: hidden;

}


button:hover{
    transform: scale(1.1);
}

.arrowTop-div{
    /* border: 2px solid black; */
    
    position: fixed;
    right: 20px;
    bottom: 20px;
    padding: 0;
    background: #080035 ;
    text-align: center;
    z-index: 2001;
    padding: 2px 5px 2px 5px;
    border-radius: 10px;
    
}

.arrowTop-div a{
    /* border: 2px solid black; */
    text-decoration: none;
    display: flex;
    align-items: self-start;
    
}
.arrowTop-div i{
    /* border: 2px solid rgb(229, 255, 0); */
    padding: 0;
    margin: 0;
    font-size: 1em;
    color: white;

}
.arrowTop-div p{
    /* border: 2px solid rgb(255, 0, 0); */
    padding: 0;
    color: white;
    font-size: 0.7em;
    font-weight: 900;
    margin: 0;
}

/* 
Colors 

Azul Claro:         #00a6ff
Azul escuro :       #00466b
Azul escuro botao:  #080035 

*/


